{% extends 'base.html.twig' %}

{% block body %}
    <h1>Page not found</h1>

    <p>
        The requested it is not restricted for you. Checkout for any URL
        misspelling or <a href="/login"> return to the login page</a>.
    </p>
{% endblock %}